In [117]:
from sklearn.model_selection import GridSearchCV , RandomizedSearchCV
from sklearn import svm , datasets
import pandas as pd

In [118]:
iris = datasets.load_iris()

In [119]:
df = pd.DataFrame(iris.data , columns = iris.feature_names)
df["flower"] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [120]:
df["flower"] = df["flower"].apply(lambda x : iris.target_names[x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [121]:
clf = GridSearchCV(svm.SVC(gamma = "auto") , {
    "C": [1 , 10 , 20],
    "kernel":["rbf" , "linear"]
} , cv = 5 , return_train_score= False)
clf.fit(iris.data , iris.target)
clf.cv_results_

{'mean_fit_time': array([0.00119591, 0.0017952 , 0.00139647, 0.00119662, 0.0009975 ,
        0.00119629]),
 'std_fit_time': array([3.98995982e-04, 1.16326007e-03, 4.88675236e-04, 3.99112787e-04,
        8.58306885e-07, 3.98683676e-04]),
 'mean_score_time': array([0.00079789, 0.0027926 , 0.00079784, 0.00099773, 0.00199451,
        0.00079813]),
 'std_score_time': array([3.98945933e-04, 4.60928995e-03, 3.98922052e-04, 7.13664510e-07,
        1.99453835e-03, 3.99065174e-04]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667, 1.        , 0.96666667,
        1.        ]),
 'split1_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.9       , 0.9       ,
        0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.93333333]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.98      , 0.97333333, 0.96666667,
        0.96666667]),
 'std_test_score': array([0.01632993, 0.01632993, 0.01632993, 0.03887301, 0.03651484,
        0.0421637 ]),
 'rank_test_score': array([1, 1, 1, 4, 5, 6])}

In [122]:
rs = RandomizedSearchCV(svm.SVC(gamma='auto'), {
        'C': [1,10,20],
        'kernel': ['rbf','linear']
    }, 
    cv=5, 
    return_train_score=False, 
    n_iter=2
)
rs.fit(iris.data, iris.target)
pd.DataFrame(rs.cv_results_)[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.980000
1      10       linear         0.973333

In [123]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [124]:
model_params = {
    "svm": 
    {
        "model": SVC(gamma = "auto"),
        "params": 
        {
            "C": [1 ,10 , 20],
            "kernel": ["rbf" , "linear"],
        }
    },
    "random_forest":
    {
        "model": RandomForestClassifier(),
        "params":
        {
            "n_estimators": [1 , 5 , 10],
        }
    },
    "LogisticRegression":
    {
        "model": LogisticRegression(solver = "liblinear" , multi_class = "auto"),
        "params":
        {
            "C": [1 , 5 , 10]
        }
    }
}
model_params

{'svm': {'model': SVC(gamma='auto'),
  'params': {'C': [1, 10, 20], 'kernel': ['rbf', 'linear']}},
 'random_forest': {'model': RandomForestClassifier(),
  'params': {'n_estimators': [1, 5, 10]}},
 'LogisticRegression': {'model': LogisticRegression(solver='liblinear'),
  'params': {'C': [1, 5, 10]}}}

In [125]:
score = []
for model_name , mp in model_params.items():
    clf = GridSearchCV(mp["model"] , mp["params"] , cv = 5 , return_train_score = False)
    clf.fit(iris.data , iris.target)
    print(clf.best_score_)
    score.append(
        {
            "model": model_name,
            "best_score": clf.best_score_,
            "best_params": clf.best_params_
        }
    )

df = pd.DataFrame(score , columns = ["model" , "best_score" , "best_params"])
df

0.9800000000000001
0.9666666666666668
0.9666666666666668

                model  best_score                best_params
0                 svm    0.980000  {'C': 1, 'kernel': 'rbf'}
1       random_forest    0.966667        {'n_estimators': 5}
2  LogisticRegression    0.966667                   {'C': 5}