In [38]:
import pandas as pd

In [39]:
df = pd.read_csv(r"Dataset\titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [40]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [41]:
inputs = df.drop("Survived" , axis  = "columns")
target = df[["Survived"]]

In [42]:
dummies = pd.get_dummies(inputs[["Sex"]])
inputs = pd.concat([inputs , dummies] , axis = "columns")
inputs.drop(columns = ["Sex" , "Sex_male"] , inplace = True)
inputs.head()

   Pclass   Age     Fare  Sex_female
0       3  22.0   7.2500       False
1       1  38.0  71.2833        True
2       3  26.0   7.9250        True
3       1  35.0  53.1000        True
4       3  35.0   8.0500       False

In [43]:
inputs[["Age"]][:10]

    Age
0  22.0
1  38.0
2  26.0
3  35.0
4  35.0
5   NaN
6  54.0
7   2.0
8  27.0
9  14.0

In [44]:
inputs[["Age"]] = inputs[["Age"]].fillna(inputs[["Age"]].mean())
inputs[["Age"]][:10]

         Age
0  22.000000
1  38.000000
2  26.000000
3  35.000000
4  35.000000
5  29.699118
6  54.000000
7   2.000000
8  27.000000
9  14.000000

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
X_train , X_test , y_train , y_test = train_test_split(inputs , target , test_size = 0.3)

In [47]:
from sklearn.naive_bayes import GaussianNB

In [48]:
model = GaussianNB()

In [49]:
model.fit(X_train , y_train)

c:\Users\thunk\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [50]:
model.score(X_test , y_test)

0.7835820895522388

In [51]:
model.predict(X_test[:10])

array([1, 0, 1, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [52]:
model.predict_proba(X_test[:10])

array([[0.43699094, 0.56300906],
       [0.54527255, 0.45472745],
       [0.0146174 , 0.9853826 ],
       [0.96796797, 0.03203203],
       [0.59229591, 0.40770409],
       [0.23445976, 0.76554024],
       [0.67573391, 0.32426609],
       [0.52621886, 0.47378114],
       [0.96799384, 0.03200616],
       [0.96497467, 0.03502533]])